src/fr/inrialpes/exmo/align/service/aserv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->

<wsdl:definitions 
   targetNamespace="http://exmo.inrialpes.fr/align/service" 
   xmlns:impl="http://exmo.inrialpes.fr/align/service" 
   xmlns:intf="http://exmo.inrialpes.fr/align/service" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Type definitions -->

  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema"
		targetNamespace="http://exmo.inrialpes.fr/align/service">
      <xsd:element name="alignmentList">
	<xsd:complexType>
          <xsd:all>
            <xsd:element name="alid" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:all>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name="networkList">
	<xsd:complexType>
          <xsd:all>
            <xsd:element name="onid" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:all>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name="networkList">
	<xsd:complexType>
          <xsd:all>
            <xsd:element name="entity" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:all>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name="classList">
	<xsd:complexType>
          <xsd:all> <!-- classname as strings -->
            <xsd:element name="classname" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:all>
	</xsd:complexType>
      </xsd:element>
      <xsd:element name="param">
	<xsd:complexType>
	  <xsd:simpleContent>
	    <xsd:extension base="xsd:string">
	      <xsd:attribute name="name" type="xsd:string" use="required"/>
	    </xsd:extension>
	  </xsd:simpleContent>
	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <!-- Message definitions -->

   <wsdl:message name="wsdlRequest"/>
   <wsdl:message name="wsdlResponse"><!-- JE: should be XML -->
      <wsdl:part name="wsdl:definitions" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="listalignmentsRequest"/>
   <wsdl:message name="listalignmentsResponse">
     <wsdl:part name="alignmentList" type="alignmentList"/>
   </wsdl:message>

   <wsdl:message name="listnetworksRequest"/>
   <wsdl:message name="listnetworksResponse">
     <wsdl:part name="networkList" type="networkList"/>
   </wsdl:message>

   <wsdl:message name="listmethodsRequest"/>
   <wsdl:message name="listmethodsResponse">
     <wsdl:part name="classList" type="classList"/>
   </wsdl:message>

   <wsdl:message name="listservicesRequest"/>
   <wsdl:message name="listservicesResponse">
     <wsdl:part name="classList" type="classList"/>
   </wsdl:message>

   <wsdl:message name="listevaluatorsRequest"/>
   <wsdl:message name="listevaluatorsResponse">
     <wsdl:part name="classList" type="classList"/>
   </wsdl:message>

   <wsdl:message name="listrenderersRequest"/>
   <wsdl:message name="listrenderersResponse">
     <wsdl:part name="classList" type="classList"/>
   </wsdl:message>

   <wsdl:message name="matchRequest">
      <wsdl:part name="onto1" type="xsd:anyURI"/>
      <wsdl:part name="onto2" type="xsd:anyURI"/>
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="method" type="xsd:string"/>
      <wsdl:part name="force" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="matchResponse">
      <wsdl:part name="alid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="matchnetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="method" type="xsd:string"/>
      <wsdl:part name="force" type="xsd:boolean"/>
      <wsdl:part name="sym" type="xsd:boolean"/>
      <wsdl:part name="refl" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="matchnetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="align">
      <wsdl:part name="onto1" type="xsd:anyURI"/>
      <wsdl:part name="onto2" type="xsd:anyURI"/>
      <wsdl:part name="method" type="xsd:string"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="alignResponse"> <!-- JE: XML -->
      <wsdl:part name="alignment" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="metadataRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <!--wsdl:part name="key" type="xsd:string"/>
      <wsdl:part name="param" type="param"/--> <!--minOccurs="0" maxOccurs="unbounded"-->
   </wsdl:message>
   <wsdl:message name="metadataResponse">
      <wsdl:part name="alignment" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="correspRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="entity" type="xsd:anyURI"/>
      <wsdl:part name="strict" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="correspResponse">
     <wsdl:part name="entityList" type="entityList"/>
   </wsdl:message>

   <wsdl:message name="retrieveRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="retrieveResponse"> <!-- JE: XML -->
      <wsdl:part name="alignment" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="printnetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="printnetworkResponse">
      <wsdl:part name="result" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="trimRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="threshold" type="xsd:float"/>
      <wsdl:part name="type" type="xsd:string"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="trimResponse">
      <wsdl:part name="alid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="trimnetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="threshold" type="xsd:float"/>
      <wsdl:part name="type" type="xsd:string"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="trimnetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="invertRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="invertResponse">
      <wsdl:part name="alid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="invertnetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="invertnetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="normalizenetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="new" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="normalizenetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="denormalizenetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="new" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="denormalizenetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="closenetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="sym" type="xsd:boolean"/>
      <wsdl:part name="trans" type="xsd:boolean"/>
      <wsdl:part name="refl" type="xsd:boolean"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="closenetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="findRequest">
      <wsdl:part name="onto1" type="xsd:anyURI"/>
      <wsdl:part name="onto2" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="findResponse">
     <wsdl:part name="alignmentList" type="alignmentList"/>
   </wsdl:message>

   <wsdl:message name="getRequest">
      <wsdl:part name="uri" type="xsd:anyURI"/>
      <wsdl:part name="desc" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="getResponse">
     <wsdl:part name="alignmentList" type="alignmentList"/>
   </wsdl:message>

   <wsdl:message name="evalRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="ref" type="xsd:anyURI"/>
      <wsdl:part name="method" type="xsd:string"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="evalResponse">
     <wsdl:part name="result" type="xsd:string"/>
   </wsdl:message>

   <wsdl:message name="loadRequest"> <!--xsd:choice OR better multipart-->
     <wsdl:part name="url" type="xsd:string"/>
     <wsdl:part name="pretty" type="xsd:string"/>
     <wsdl:part name="force" type="xsd:boolean"/>
     <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="loadResponse">
      <wsdl:part name="alid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="loadnetworkRequest"> <!--xsd:choice OR better multipart-->
     <wsdl:part name="url" type="xsd:string"/>
     <wsdl:part name="pretty" type="xsd:string"/>
     <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="loadnetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="translateRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="query" type="xsd:anyType"/> 
      <wsdl:part name="param" type="param"/>
   </wsdl:message>
   <wsdl:message name="translateResponse"> 
      <wsdl:part name="message" type="xsd:anyType"/>
   </wsdl:message>

   <wsdl:message name="storeRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="storeResponse">
      <wsdl:part name="alid" type="xsd:anyURI"/>
   </wsdl:message>

   <wsdl:message name="storenetworkRequest">
      <wsdl:part name="id" type="xsd:anyURI"/>
      <wsdl:part name="param" type="param"/> <!-- minOccurs="0" maxOccurs="unbounded" ?-->
   </wsdl:message>
   <wsdl:message name="storenetworkResponse">
      <wsdl:part name="onid" type="xsd:anyURI"/>
   </wsdl:message>

   <!-- Port definition -->

   <wsdl:portType name="WSAlignSVC">
     <wsdl:operation name="listalignments">
       <wsdl:input message="impl:listalignmentsRequest" name="listalignmentsRequest"/>
       <wsdl:output message="impl:listalignmentsResponse" name="listalignmentsResponse"/>
     </wsdl:operation>
     <wsdl:operation name="listnetworks">
       <wsdl:input message="impl:listnetworksRequest" name="listnetworksRequest"/>
       <wsdl:output message="impl:listnetworksResponse" name="listnetworksResponse"/>
     </wsdl:operation>
     <wsdl:operation name="listmethods">
       <wsdl:input message="impl:listmethodsRequest" name="listmethodsRequest"/>
       <wsdl:output message="impl:listmethodsResponse" name="listmethodsResponse"/>
     </wsdl:operation>
     <wsdl:operation name="listrenderers">
       <wsdl:input message="impl:listrenderersRequest" name="listrenderersRequest"/>
       <wsdl:output message="impl:listrenderersResponse" name="listrenderersResponse"/>
     </wsdl:operation>
     <wsdl:operation name="listevaluators">
       <wsdl:input message="impl:listevaluatorsRequest" name="listevaluatorsRequest"/>
       <wsdl:output message="impl:listevaluatorsResponse" name="listevaluatorsResponse"/>
     </wsdl:operation>
     <wsdl:operation name="listservices">
       <wsdl:input message="impl:listservicesRequest" name="listservicesRequest"/>
       <wsdl:output message="impl:listservicesResponse" name="listservicesResponse"/>
     </wsdl:operation>
     <wsdl:operation name="metadata">
       <wsdl:input message="impl:metadataRequest" name="metadataRequest"/>
       <wsdl:output message="impl:metadataResponse" name="metadataResponse"/>
     </wsdl:operation>
     <wsdl:operation name="find" parameterOrder="onto1 onto2">
       <wsdl:input message="impl:findRequest" name="findRequest"/>
       <wsdl:output message="impl:findResponse" name="findResponse"/>
     </wsdl:operation>
     <wsdl:operation name="get" parameterOrder="uri pretty">
       <wsdl:input message="impl:getRequest" name="getRequest"/>
       <wsdl:output message="impl:getResponse" name="getResponse"/>
     </wsdl:operation>
     <wsdl:operation name="eval" parameterOrder="id ref method">
       <wsdl:input message="impl:evalRequest" name="evalRequest"/>
       <wsdl:output message="impl:evalResponse" name="evalResponse"/>
     </wsdl:operation>
     <wsdl:operation name="load" parameterOrder="url pretty force">
       <wsdl:input message="impl:loadRequest" name="loadRequest"/>
       <wsdl:output message="impl:loadResponse" name="loadResponse"/>
     </wsdl:operation>
     <wsdl:operation name="loadnetwork" parameterOrder="url pretty">
       <wsdl:input message="impl:loadnetworkRequest" name="loadnetworkRequest"/>
       <wsdl:output message="impl:loadnetworkResponse" name="loadnetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="store" parameterOrder="id">
       <wsdl:input message="impl:storeRequest" name="storeRequest"/>
       <wsdl:output message="impl:storeResponse" name="storeResponse"/>
     </wsdl:operation>
     <wsdl:operation name="storenetwork" parameterOrder="id">
       <wsdl:input message="impl:storenetworkRequest" name="storenetworkRequest"/>
       <wsdl:output message="impl:storenetworkResponse" name="storenetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="translate" parameterOrder="id query">
       <wsdl:input message="impl:translateRequest" name="translateRequest"/>
       <wsdl:output message="impl:translateResponse" name="translateResponse"/>
     </wsdl:operation>
     <wsdl:operation name="match" parameterOrder="onto1 onto2 method id force async pretty param">
       <wsdl:input message="impl:matchRequest" name="matchRequest"/>
       <wsdl:output message="impl:matchResponse" name="matchResponse"/>
     </wsdl:operation>
     <wsdl:operation name="matchnetwork" parameterOrder="id method force async sym refl pretty param">
       <wsdl:input message="impl:matchnetworkRequest" name="matchnetworkRequest"/>
       <wsdl:output message="impl:matchnetworkResponse" name="matchnetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="align" parameterOrder="onto1 onto2 method param">
       <wsdl:input message="impl:align" name="align"/>
       <wsdl:output message="impl:alignResponse" name="alignResponse"/>
     </wsdl:operation>
     <wsdl:operation name="trim" parameterOrder="id type threshold">
       <wsdl:input message="impl:trimRequest" name="trimRequest"/>
       <wsdl:output message="impl:trimResponse" name="trimResponse"/>
     </wsdl:operation>
     <wsdl:operation name="trimnetwork" parameterOrder="id type threshold">
       <wsdl:input message="impl:trimnetworkRequest" name="trimnetworkRequest"/>
       <wsdl:output message="impl:trimnetworkResponse" name="trimnetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="invert" parameterOrder="id">
       <wsdl:input message="impl:invertRequest" name="invertRequest"/>
       <wsdl:output message="impl:invertResponse" name="invertResponse"/>
     </wsdl:operation>
     <wsdl:operation name="invertnetwork" parameterOrder="id">
       <wsdl:input message="impl:invertnetworkRequest" name="invertnetworkRequest"/>
       <wsdl:output message="impl:invertnetworkResponse" name="invertnetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="closenetwork" parameterOrder="id">
       <wsdl:input message="impl:closenetworkRequest" name="closenetworkRequest"/>
       <wsdl:output message="impl:closenetworkResponse" name="closenetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="normalizenetwork" parameterOrder="id">
       <wsdl:input message="impl:normalizenetworkRequest" name="normalizenetworkRequest"/>
       <wsdl:output message="impl:normalizenetworkResponse" name="normalizenetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="denormalizenetwork" parameterOrder="id">
       <wsdl:input message="impl:denormalizenetworkRequest" name="denormalizenetworkRequest"/>
       <wsdl:output message="impl:denormalizenetworkResponse" name="denormalizenetworkResponse"/>
     </wsdl:operation>
     <wsdl:operation name="retrieve" parameterOrder="id method">
       <wsdl:input message="impl:retrieveRequest" name="retrieveRequest"/>
       <wsdl:output message="impl:retrieveResponse" name="retrieveResponse"/>
     </wsdl:operation>
     <wsdl:operation name="printnetwork" parameterOrder="id">
       <wsdl:input message="impl:printnetworkRequest" name="printnetworkRequest"/>
       <wsdl:output message="impl:printnetworkResponse" name="printnetworkResponse"/>
     </wsdl:operation>
   </wsdl:portType>

   <!-- Binding definition -->

   <wsdl:binding name="WShttp://exmo.inrialpes.fr/align/serviceSoapBinding"
                 type="impl:WShttp://exmo.inrialpes.fr/align/service">
     <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
     <wsdl:operation name="listalignments">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listalignmentsRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listalignmentsResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="listnetworks">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listnetworksRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listnetworksResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="listmethods">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listmethodsRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listmethodsResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="listrenderers">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listrenderersRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listrenderersResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="listevaluators">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listevaluatorsRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listevaluatorsResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="listservices">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="listservicesRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="listservicesResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="metadata">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="metadataRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="metadataResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="find">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="findRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="findResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="get">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="getRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="getResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="eval">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="evalRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="evalResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="load">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="loadRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="loadResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="loadnetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="loadnetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="loadnetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="store">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="storeRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="storeResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="storenetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="storenetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="storenetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="translate">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="translateRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="translateResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="match">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="matchRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="matchResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="matchnetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="matchnetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="matchnetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="align">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="align">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="alignResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="trim">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="trimRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="trimResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="trimnetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="trimnetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="trimnetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="invert">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="invertRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="invertResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="invertnetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="invertnetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="invertnetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="normalizenetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="normalizenetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="normalizenetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="denormalizenetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="denormalizenetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="denormalizenetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="closenetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="closenetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="closenetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="retrieve">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="retrieveRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="retrieveResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="printnetwork">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="printnetworkRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="printnetworkResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
     <wsdl:operation name="corresp">
       <wsdlsoap:operation soapAction=""/>
       <wsdl:input name="correspRequest">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:input>
       <wsdl:output name="correspResponse">
         <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" 
			namespace="urn:http://exmo.inrialpes.fr/align/service" use="encoded"/>
       </wsdl:output>
     </wsdl:operation>
   </wsdl:binding>

   <!-- Service declaration -->

   <wsdl:service name="WSAlignService">
     <wsdl:documentation>Alignment server</wsdl:documentation>
     <wsdl:port binding="impl:WSSoapBinding" name="aserv">
       <wsdlsoap:address location="%%ASERVADDRESS%%"/>
     </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
